.horizontal-style {
  display: inline-block;
  margin-right: 20px;
}
.vertical-style {
  display: flex;
  margin-bottom: 10px;
}
delete-button {
  margin: auto 0;
}
sophize-md-viewer {
  margin-top: 10px;
}
.non-md-div {
  display: inline;
  position: relative;
  top: 2px;
}